.app {
  font-family: Arial, sans-serif;
  background-color: #E8F5E9;
  padding: 20px;
}

main {
  max-width: 800px;
  margin: 0 auto;
  overflow-y: scroll;
  height: calc(100vh - 100px); /* Adjust height as needed */
}
